.layui-row{
  margin: 20px;
}
.layui-row h2{
  margin: 10px;
}
.message{
  border-radius: 10px;
  border:1px solid #757575;
  height: 90px
}
.dou{
  background: #26bc9c url(../images/yuan.png)no-repeat 18px 18px;
  height: 90px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px
}
.cen{
  margin-top:35px;
  margin-left: 31px;
}
.rside{
  border:1px solid #757575;
  font-size: 16px;
}
.info{
  font-size: 16px;
  line-height: 25px;
  margin: 10px;
  width: 100%;
}
.journal{
  margin: 10px;
  line-height: 20px;
  font-size: 14px;
}
.journal p {
    padding: 10px;
    border-bottom: 1px solid #676767;
}
.more{
  display: block;
  float: right;
  margin:10px;
}
.saleList{
  float: left;
  width: 15%;
}
.saleList li{   
  float: right; 
  margin-left: 36%;
  text-align: center;
  width: 100px;
  font-size: 15px;
  line-height: 30px;
  border:1px solid #139ad6;
  color:#139ad6;
  cursor: pointer;
}
.content{
  width: 75%;
  height: 55%;
  float: left;
  border:1px solid #139ad6;
}
.click1{
  font-size: 17px;
  font-weight: 600;
}
.tab{
  display: none;
}
.show {
  display: block;
}
.select_modify{
  color: #757575;
  font-size: 16px;
  height: 25px;
  margin-right: 5px;
}
.linePic{
  margin: 20px auto;
}
.for{
  width: 90%;
  margin: auto;
}
.log_box{
  margin-top: 20px;
  border:1px solid #757575;
}